@media only screen and (max-width: 768px) {
    .responsive {
        width: auto;
    }

    #banner .image-container {
        aspect-ratio: 1 / 0.9;
    }
    
    .over-text {
        max-width: 80%;
        top: 100px;
        left: 60px;
    }

    .over-text h1 {
        margin-top: 0;
    }

    .over-text a {
        justify-content: center;
    }

    .over-text a span {
        margin-right: 5px;
    }

    .over-text a svg {
        position: relative;
        left: unset;
        bottom: 2px;
        opacity: 1;
    }

    .slide img {
        width: 100%;
    }
    
    #mobile-apps {
        grid-template-columns: 1fr;
    }

    #favorite-coffee {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #about .gallery .gallery-item:nth-child(2), #about .gallery .gallery-item:nth-child(3) {
        display: none;
    }

    #about .gallery .gallery-item:last-child {
        margin-top: 0;
    }

    #mobile-apps .mobile-apps-description {
        margin-right: 40px;
    }

    #mobile-apps .mobile-screens-photo {
        justify-self: center;
    }
}

@media only screen and (max-width: 380px) {
    #banner .image-container {
        aspect-ratio: 1 / 1.6;
    }

    .over-text {
        top: 60px;
        left: 16px;
        right: 16px;
        max-width: 100%;
    }

    .over-text h1 {
        font-size: 42px;
        line-height: 115%;
    }

    #favorite-coffee {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #favorite-coffee h2, 
    #about h2, 
    #mobile-apps .mobile-apps-description h2 {
        font-size: 32px;
    }

    .slides-navigation {
        display: none;
    }

    .slide-price {
        margin-top: 16px;
        margin-bottom: 10px;
    }

    #about h2 {
        margin-right: 2px;
    }

    #about .gallery .gallery-item {
        max-height: 590px!important;
    }

    #about .gallery .gallery-item img {
        position: relative;
        left: -188px;
        scale: 1;
    }

    #mobile-apps .mobile-apps-description ul {
        flex-wrap: wrap;
    } 

    .mobile-screens-photo {
        width: 100%;
    }
}
