@media only screen and (max-width: 768px) {
    .page-section h1 em {
        display: unset;
    }

    .heading {
        max-width: 685px;
    }

    #category-switch a {
        margin: 0 8px;
    }

    section.product-selection {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
    }

    .tile:first-child, .tile:nth-child(3), .tile:nth-child(5), .tile:nth-child(7) {
        margin-left: 13px;
    }

    .tile:nth-child(5), .tile:nth-child(6), .tile:nth-child(7), .tile:nth-child(8) {
        display: none;
    }

    #fetch-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--border-dark);
        border-radius: 100px;
        width: 60px;
        height: 60px;
        margin: auto;
        margin-bottom: 100px;
    }

    /* Products modal */
    .modal-content {
        width: 688px;
        margin-top: 164px;
    }

    .modal-description-wrapper {
        margin-left: 2px;
    }
}

@media only screen and (max-width: 380px) {
    .page-section .heading {
        max-width: 330px;
        font-size: 32px;
    }

    #category-switch a {
        margin: 0 4px;
    }

    .tile:first-child, .tile:nth-child(3), .tile:nth-child(5), .tile:nth-child(7) {
        margin-left: 0;
    }

    section.product-selection {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    /* Products modal */
    .modal-image-wrapper {
        display: none;
    }

    .modal-content {
        width: 342px;
        grid-template-columns: 1fr;
        margin-top: -32px;
    }
}
