:root {
    --background-body: #5455ac;
    --background-container: #fff;
    --text-dark: #000;
}

*,
*::before
*::after {
    box-sizing: border-box;
}

html {
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--background-body);
    color: var(--text-dark);
}

body {
    display: flex;
    margin: 30px;
    width: auto;
    height: auto;
    background-color: var(--background-container);
    border-radius: 25px;
}

.hangman-game-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    overflow: hidden;
}

#gallows-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    pointer-events: none;
    user-select: none;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: green;
    font-size: 40px;
    font-weight: 500;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.game-title {
    text-transform: uppercase;
    font-family: "Moirai One", Papyrus, Math;
    font-size: 65px;
}

#game-score {
    color: maroon;
    font-weight: 600;
}

#code-word {
    font-size: 65px;
    letter-spacing: 30px;
}

.keyboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.keys-row {
    display: flex;
    gap: 15px;
}

.key-button {
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    background-color: var(--background-body);
    border-radius: 20px;
}

.key-button-disabled {
    background-color: teal;
    border: none;
}
